.blog {
    padding: 10px;
    display: flex;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;

  
}
.blog:hover {
    box-shadow:2px 2px 20px gray;
}

.blog-full{
    padding: 10px;
    display: flex;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;

    
}


.blog-link {
    text-decoration: none;
    color: black;
}


.blog-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.blog-text {
    margin: 10px;
    position: relative;
    overflow-y: hidden;
    width: 900px;
    max-width: 900px;
    max-height: 90px;
    text-overflow: ellipsis;
    @media (max-width: 768px) {
        width: auto;
    }
}

.blog-text:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(rgba(240, 240, 240, 0), rgb(240, 240, 240));
    border-radius: 5px;
}

.blog-list {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.blog-text-full {
    margin: 10px;
    position: relative;
    overflow-y: hidden;
    width: 900px;
    max-width: 900px;
    text-overflow: ellipsis;
    @media (max-width: 768px) {
        width: auto;
    }
}

.comment{
    padding: 10px;
    background-color: white;
    width: 800px;
    max-width: 800px;
    border-radius: 5px;
    @media (max-width: 768px) {
        width: auto;
    }
    box-shadow: 2px 2px 5px gray;
}
.commentList{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.commentInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentBox{
    
    padding: 10px;
    margin: 10px;
    background-color: white;
    width: 800px;
    max-width: 800px;
    border-radius: 5px;
    @media (max-width: 768px) {
        width: 95%
    }
}

.button-container{
    display: flex;
    justify-content: flex-end;
}
.form-button{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: min-content;
    cursor: pointer;
    background-color: rgb(197, 189, 189);
    &:hover{
        background-color: rgb(204, 201, 201);
    }
}
textarea{
    resize: none;
    width: 800px;
    height: 70px;
    max-height: 90px;
    max-width: 800px;
    border-radius: 5px;
    @media (max-width: 768px) {
        width: 100%;
    }
}